@media screen and (max-width: 705px) {

    
    .nav2{
      display: none;
    }
    .row{   
      padding-top: 45px;    
    }
    .side{
      border-bottom-right-radius: 25px;
    }
  
    body{
      margin-left: 10px;
      margin-right: 10px;
      background-size: 150% 20%;
      padding-left: 0;
      margin-top: 0em;
      background-color: #e78c22;
    }
    
   
  
  .homelinea{
    width: 70%;
    
  }
  .columna{
    width: 100%;
  margin-top: 0.001em;
  }
  
  .fotos {
    width: 100%;
    
  }
  .fotocafhim, .homefoto2, .marca{
    display: none;
  }
  .tresfotos{
    padding-left: 1em;
    padding-top: 2em;
     }
     .tresfotos img{
      width: 90%;
     }
    }
  
  