body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  }

.topheader {
  box-shadow: 0 4px 5px rgb(68, 65, 65);
  position: fixed;
  
  left: 0;
  top: 0;
  width: 100%;
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding:0px;
  max-width: 980px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: #899096;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  
}

.logo {
  display: flex;
  align-items: flex-end;
  margin-left: 2em;
  }



.logotype {
  display: flex;
  justify-content: center;
padding-bottom: 3px;
  margin-left: 5PX;
  font-size: 0.7em;
  color: black;
  font-weight: 1000;
}

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 13px;
line-height: 21px;
letter-spacing: 0.438em;
}

.menu li {
  padding: 0 15px;
}

.menu a {
 
  font-size: 28px;
  font-weight: 900;

  text-transform: uppercase;

  
}

.open-menu,
.close-menu {
  display: none;
}



@media (max-width: 355px) {
  
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-color: #538792;
    
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
  }

  .menu li {
    padding: 0;
  }

  .menu a {
    color: white;
    line-height: 60px;
  
  }

  .open-menu{

  display: block;
  border: solid black 2px;
  background: none;
  cursor: pointer;
  margin-right: 1em;
  padding: 1em;
  }

  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    padding-right: 20px;
  }

  .close-menu {
    align-self: flex-end;
    padding: 30px ;
    
  }
  .menu_opened {
    opacity: 1;
    pointer-events: all;

    

  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
  
.logoverde img{
  width: 150%;
 
}
.logoverde{

width: 80%;


}

}
.nav1celu{
  margin-top: 0em;
  padding-top: 0em;
  line-height: 5em;
  
}
