
/*
para hacer columnas
column-count:3;
column-gap :1em;
column-rule :1px solid black;
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4.5em;
  background-image: url(fondo-turul2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 23em;
  
  
  }
  .homedireccion{
    font-size: 1.1em;
    font-weight: 800;
    padding-left: 2em;
    margin-bottom: 1em;
    padding-top: 1em;
}


.columna{
    padding-left: 1em;
    padding-right: 1em;
    font-weight: 400;
    font-size: 1.3em;
      float: left;
      height: auto; 
}

.homelinea{
  padding-left: 1em;
}


.row {  
  
 display: flex;
 
  background-color: #d8d6d7;
  border-end-end-radius: 20px;
  border: solid #e78e2c 4px;

  box-shadow:  -20px 20px #4a7a86;
}

.side { 
  background-color: #d8d6d7;
   padding-top: 1em;
}













