
/*
para hacer columnas
column-count:3;
column-gap :1em;
column-rule :1px solid black;
*/

* {
  box-sizing: border-box;
}


body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 4.5em;
  background-image: url(fondo-turul.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 23em;
  
  }


.homedireccion{
    font-size: 1.1em;
    font-weight: 800;
    padding-left: 2em;
    margin-bottom: 3.7em;
}
.hometexto{
    padding-left: 1em;
    font-weight: 400;
    font-size: 1.3em;
}

.logo{
    margin-left: 4em;
    margin-top: 2em;
}




.navbar {
  display: flex;
  
 
  justify-content: space-between;
  
}

/* Style the navigation bar links */
.navbar a {
  color: black;
  font-size: 1.5em;
  font-weight: bolder;
  padding:  10px;
  text-decoration: none;
  text-align: center;
  border: solid  #e78e2c 6px;
  border-bottom: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #b9b7b6;
  width: 8.5em;
  transition: transform 0.2s ease-in-out;
}
.home2{
    background-color:#d8d6d7 !important;
    border-bottom: none !important;
    }
    .texto{
      
      margin-top: 4em;
    }

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
  transform: scale(1.1);
}


.row {  
  display: flex;
  flex-wrap: wrap;
  background-color: #d8d6d7;
  border-end-end-radius: 20px;
  border: solid #e78e2c 6px;
  box-shadow:  -20px 20px #4a7a86;
  
}


.side {
  flex: 33%;
  background-color: solid #d8d6d7;

   padding-top: 2em;
  
}


.main {
  flex: 33%;
  background-color: #d8d6d7;
  
  padding-top: 2.5em;
}


/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .navbar a{
    width: 90%;
    align-self: center;
    
  }
  body{
    margin-left: 0px;
    margin-right: 0px;
    background-size: 150% 50%;
    padding-left: 0;
  }

.main{
  display: grid;
  grid-template-columns: auto ;
  

}
.texto{
  margin-top: 0em;
  grid-area: 1 / 1 / 2 / 2;
}
.marca{
grid-area: 2 / 1 / 3 / 2; 
padding-left: 3em;
}
.homedireccion{
  margin-bottom: 1em;
}
.marca{
  align-self: center;
}
}

@media  (min-width: 701px) and (max-width: 900px) {
  body{
    margin-left: 0px;
    margin-right: 0px;
    background-size: 100% 50%;
    padding-left: 0;
    margin-top: 15em;
  }
  .navbar {   
    flex-direction: column;
  }
  .navbar a{
    width: 90%;
    align-self: center;
}



}

@media  (min-width: 901px) and (max-width: 1150px) {
  .navbar a{
    width: 20%;
    align-self: center;
    font-size: 1em;
}
}
