  
    html {
      box-sizing: border-box;
    }

    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin: 0;
      
    }



 
    nav ul li a:focus,
    nav ul li a:hover,
    nav ul li a:active {
      color: #fff;
    }

    nav ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      background-color: none;
      
    }

    nav ul li {
      font-size: 1.2em;
    
      letter-spacing: .2em;
      
      
    }

    nav ul li a {
      text-decoration: none;
      border: 2px solid;
      border-radius: 0.5em;
      
    }
    nav{
      grid-row: 2/3;
      grid-column: 1 /-1;
    }
h2{
  grid-row: 3/4;
      grid-column: 1 /2;
      margin-left: 2em;
      }

    main {
        font-family: Verdana, Arial, Helvetica, sans-serif;;
     
      line-height: 1.8em;
      color: #555;
      padding: 1em;
      margin-left: 2em;
      border: double 4px #473006;
      border-radius: 25px;
      
        background-color: #d8d7d7;
      grid-row: 4/5;
      grid-column: 1 /4;
    }

    #layout {
        background-image: url(fondo-turul.jpg);
	background-repeat: no-repeat;
	background-position: center top;
    background-size: 100% 100%;
      margin-left: 5%;
      margin-right: 5%;
      display: grid;
      grid-template-rows: 200px 3em 160px 320px ;
      grid-template-columns: 1fr 20px 1fr 20px 1fr;
    }
    figure {
      margin: 0;
      padding: 0;
    }

    nav {
      grid-row: 2/3;
      grid-column: 1 /-1;

    }
    
    #figC{
      grid-row: 4/5;
      grid-column: 5 /6;

    }
    #figB{
      grid-row: 3/4;
      grid-column: 5 /6;
      
    }
    #figA{
      grid-row: 3/4;
      grid-column: 3 /4;
    }
   img{
    background-size: 100% 100%;
   }
    
    
    @media  (max-width:900px){
      #layout {
      display: grid;
      grid-template-rows: 3em repeat(2, 20px 150px) 20px auto 5em ;
      grid-template-columns: 1fr  20px 150px;
    }
    footer{
      grid-row: 8/9;
      grid-column: 1 /-1;
    
    }
    #figC{
      grid-row: 7/8;
      grid-column: 3 /4;

    }
    #figB{
      grid-row: 5/6;
      grid-column: 3 /4;
    }
    #figA{
      grid-row: 3/4;
      grid-column: 3 /4;
    }
    main{
      grid-row: 3/8;
      grid-column: 1 /2;
  }
}

  